{
  "openapi": "3.0.2",
  "info": {
    "title": "MSS API",
    "version": "1.0"
  },
  "servers": [{ "url": "https://api.mmssapp.com/v1" }],
  "paths": {
    "/orders/{id}": {
      "get": {
        "tags": ["Orders"]
      },
      "delete": {
        "tags": ["Orders"]
      }
    },
    "/orders/{id}/print": {
      "get": {
        "tags": ["Orders"]
      }
    },
    "/orders/{id}/items": {
      "get": {
        "tags": ["Orders"]
      },
      "post": {
        "tags": ["Orders"]
      }
    },
    "/orders/{id}/items/{id}": {
      "get": {
        "tags": ["Orders"]
      },
      "put": {
        "tags": ["Orders"]
      },
      "delete": {
        "tags": ["Orders"]
      }
    },
    "/customers": {
      "post": {
        "tags": ["Customers"]
      }
    },
    "/customers/search": {
      "post": {
        "tags": ["Customers"]
      }
    },
    "/customers/{id}": {
      "get": {
        "tags": ["Customers"]
      }
    },
    "/customers/{id}/orders": {
      "get": {
        "tags": ["Customers"]
      },
      "post": {
        "tags": ["Customers"]
      }
    }
  },
  "components": {
    "schemas": {
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "storeId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        },
        "required": ["id", "customer", "storeId", "createdAt", "user"]
      },
      "Item": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "orderId": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "storeId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["id", "storeId", "name", "phone"]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "storeId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": ["id", "storeId", "name"]
      }
    }
  }
}
