{
  "openapi": "3.0.2",
  "info": {
    "title": "MSS API",
    "version": "1.0"
  },
  "servers": [{ "url": "https://api.mmssapp.com/v1" }],
  "paths": {
    "/orders/{id}": {
      "get": {
        "tags": ["Orders"]
      },
      "delete": {
        "tags": ["Orders"]
      }
    },
    "/orders/{id}/print": {
      "get": {
        "tags": ["Orders"]
      }
    },
    "/orders/{id}/items": {
      "get": {
        "tags": ["Orders"]
      },
      "post": {
        "tags": ["Orders"]
      }
    },
    "/orders/{id}/items/{id}": {
      "get": {
        "tags": ["Orders"]
      },
      "put": {
        "tags": ["Orders"]
      },
      "delete": {
        "tags": ["Orders"]
      }
    },
    "/customers": {
      "post": {
        "tags": ["Customers"]
      }
    },
    "/customers/search": {
      "post": {
        "tags": ["Customers"]
      }
    },
    "/customers/{id}": {
      "get": {
        "tags": ["Customers"]
      }
    },
    "/customers/{id}/orders": {
      "get": {
        "tags": ["Customers"]
      },
      "post": {
        "tags": ["Customers"]
      }
    }
  },
  "components": {
    "schemas": {
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "storeId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "observations": {
            "type": "string"
          }
        },
        "required": ["id", "customer", "storeId", "createdAt", "user"]
      },
      "Item": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "orderId": {
            "type": "string"
          },
          "moldingId": {
            "type": "string"
          },
          "width": {
            "type": "number",
            "format": "double"
          },
          "height": {
            "type": "number",
            "format": "double"
          },
          "passePartout": {
            "type": "boolean"
          },
          "passePartoutWidth": {
            "type": "number",
            "format": "double"
          },
          "passePartoutHeight": {
            "type": "number",
            "format": "double"
          },
          "glossyGlass": {
            "type": "boolean"
          },
          "mateGlass": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "observations": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "orderId",
          "moldingId",
          "width",
          "height",
          "passePartout",
          "glossyGlass",
          "mateGlass",
          "description",
          "observations",
          "quantity",
          "createdAt"
        ]
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "storeId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["id", "storeId", "name", "phone"]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "storeId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": ["id", "storeId", "name"]
      }
    }
  }
}
